.col-sm-6 img{
width: 47.5%;
}

.title {
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 3.0625rem;
    height: 0.0625rem;
    background-color: #007130;
}